[submodule "thirdparty/Babylon.js"]
	path = thirdparty/Babylon.js
	url = https://github.com/BabylonJS/Babylon.js.git
[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = https://github.com/nigels-com/glew.git
[submodule "thirdparty/pcre2"]
	path = thirdparty/pcre2
	url = https://github.com/svn2github/pcre2
[submodule "thirdparty/freeimage"]
	path = thirdparty/freeimage
	url = https://github.com/imazen/freeimage.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "thirdparty/libpng"]
	path = thirdparty/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "thirdparty/libjpeg-turbo"]
	path = thirdparty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
