/__build
/__out
/node_modules
/typings
package-lock.json
*.out
*.luabc
/test/*.lua
/test/*.map
/experiments/BABYLON/*.lua
/experiments/jslib/*.lua
/experiments/BABYLON/*.map
/experiments/jslib/*.map

